<template>
    <div>
        <div class="text-center img-div-profile">
            <input type="hidden" name="avatar_id" :value="avatar.id">
            <img class="img-circle avatar-comp-img" :src="imageUrl" alt="Current avatar">
        </div>
        <div class="form-group" :class="{ 'has-error': errors[this.sendAs] }">
            <div  class="text-center" v-if="uploading">Processing ...</div>
            <div v-else>
                <div class="text-center">
                <label class="btn btn-default" for="file-selector"> choose photo
                <input type="file" v-on:change="fileChange" :name="sendAs" id="file-selector" style="display: none;">
                </label>
                </div>
            </div>
            <div class="help-block text-center" v-if="errors[this.sendAs]">
                {{ errors[this.sendAs][0] }}
            </div>
        </div>
        <div class="form-group text-center">
            <button type="button" class="btn btn-danger" v-show="avatar.path" @click="deleteAvatar">delete</button>
        </div>
    </div>
</template>

<script>
    import upload from '../mixins/upload'

    export default {
        props: [
            'currentAvatar',
            'userEmail'
        ],
        data () {
            return {
                errors: [],
                avatar: {
                    id: null,
                    path: this.currentAvatar
                }
            }
        },
        computed: {
          imageUrl: function () {
            return this.avatar.path ? this.avatar.path : 'https://www.gravatar.com/avatar/' + this.userEmail + '?s=100&d=mm'
          }
        },
        mixins: [
            upload
        ],
        methods: {
            fileChange (e) {
                this.upload(e).then((response) => {
                    this.avatar = response.data.data
                    this.$emit('senduppath', this.avatar.path)
                    this.errors[this.sendAs] = null
                }).catch((error) => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data
                        this.avatar.path = null
                        this.$emit('senduppath', this.avatar.path)
                        return
                    }

                    this.errors = 'Something went wrong. Try again.'
                })
            },
            deleteAvatar () {
                    console.log('endpoint: ' + this.endpoint)
                axios.get(this.endpoint + '/delete').then((response) => {
                    this.avatar.id = null
                    this.avatar.path = null
                    this.$emit('senduppath', this.avatar.path)
                    console.log('check del 1')
                }).catch((error) => {
                    console.log('check del 2')
                })
            }
        }
    }
</script>
