<template>
    <div>
        <div v-if="loading">
            <div class="loader"></div>
        </div>
        <div v-if="conversation">
          <div class="row">
            <div class="col-md-4">
              <div v-for="otherUser in conversation.users">
                <div v-if="otherUser.id != userId" class="text-center other-img-messages">
                  <span class="subscriber-icon s-icon-conv" v-if="otherUser.is_subscriber">S</span>
                  <a :href="'/tennis-partner/' + otherUser.uid" class="profile-link">
                  <img v-bind:src="otherUser.avatar_path" v-bind:alt="otherUser.name + ' avatar'" class="img-circle media-object-3">
                  <p><strong>{{ otherUser.name }}</strong></p>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <form action="#" @submit.prevent="reply">
                  <div class="form-group">
                      <textarea class="form-control" placeholder="reply" rows="3" cols="30" v-model="body"></textarea>
                  </div>
                  <div class="form-group">
                      <a class="btn btn-default hidden-md-up" :href="routeInbox">inbox <span class="badge badge-danger" v-if="unreadCount">{{ unreadCount }}</span></a>
                      <a href="#" @click.prevent="getConversation(conversation.id)" class="btn btn-default">refresh times</a>
                      <button type="submit" class="btn btn-success pull-right send-button">send</button>
                  </div>
              </form>
            </div>
          </div>
          <div class="row row-conversation-messages">
              <div class="conversation-feed" @scroll="scrolled($event)" ref="convFeed">
                  <span v-if="offTop" class="arrow-messages" @click="scrollToTop"><i class="fa fa-arrow-up"></i></span>
                  <div class="media media-conversation" v-for="reply in conversation.replies">
                      <div v-if="reply.user_id !== userId" class="media-left inbox-left">
                          <img v-bind:src="reply.user.avatar_path" v-bind:alt="reply.user.name + ' avatar'" class="img-circle media-object-2">
                      </div>
                      <div class="media-body">
                          <p class="text-center reply-created">{{ reply.created_at_human }}</p>
                          <div class="panel panel-default">
                              <div class="panel-body" :class="reply.user_id == userId ? 'panel-body-yellow' : 'panel-body-white'" v-html="reply.body">
                                  <!-- {{ reply.body }} -->
                              </div>
                          </div>
                      </div>
                      <div class="media-right inbox-left" v-if="reply.user_id == userId">
                          <img v-bind:src="reply.user.avatar_path" v-bind:alt="reply.user.name + ' avatar'" class="img-circle media-object-2">
                      </div>
                  </div>

                  <div class="media media-conversation">
                      <div v-if="conversation.user_id !== userId" class="media-left inbox-left">
                          <img v-bind:src="conversation.user.avatar_path" v-bind:alt="conversation.user.name + ' avatar'" class="img-circle media-object-2">
                      </div>
                      <div class="media-body">
                          <p class="text-center reply-created">{{ conversation.created_at_human }}</p>
                          <div class="panel panel-default">
                              <div class="panel-body" :class="conversation.user_id == userId ? 'panel-body-yellow' : 'panel-body-white'" v-html="conversation.body">
                                  <!-- {{ conversation.body }} -->
                              </div>
                          </div>
                      </div>
                      <div class="media-right inbox-left" v-if="conversation.user_id == userId">
                          <img v-bind:src="conversation.user.avatar_path" v-bind:alt="conversation.user.name + ' avatar'" class="img-circle media-object-2">
                          <!-- <img v-bind:src="'../' + conversation.user.avatar_path" v-bind:alt="conversation.user.name + ' avatar'" class="img-circle media-object-2"> -->
                      </div>
                  </div>
            </div><!-- conversation-feed -->
            </div>
        </div>
        <div class="text-center" v-if="!conversation && inboxGetter.length">
            <h4>select a conversation</h4>
        </div>

    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'

    export default {
        data () {
            return {
                userId: Laravel.user.id,
                body: null,
                offTop: false
            }
        },
        props: {
          'id': {
            default: null
          },
          routeInbox: null,
          authUserSubscribed: false,
          freePromoMode: false
        },
        computed: {
            ...mapGetters({
                conversation: 'currentConversation',
                loading: 'loadingConversation',
                inboxGetter: 'inboxGetter',
                unreadCount: 'unreadCount',
            })
        },
        methods: {
          ...mapActions([
            'getConversation',
            'createConversationReply'
          ]),
          reply () {
            let otherPlayerSubscribed = this.conversation.users[0].id != this.userId ? this.conversation.users[0].is_subscriber : this.conversation.users[1].is_subscriber;

            if (this.freePromoMode || this.authUserSubscribed || otherPlayerSubscribed) {

            this.createConversationReply({
              id: this.conversation.id,
              body: this.body
            }).then(() => {
              this.body = null
            })

          } else {
            this.body = null
            alert('this person is not a subscriber. you must be a subscriber to message a non-subscriber except during promotion period. you can still message subcribers without being a subscriber!')
          }

          },
          scrolled () {
            console.log('scrolled ...'); console.log('scrollTop ' + event.target.scrollTop); console.log('clientHeight ' + event.target.clientHeight)
            if (event.target.scrollTop > 150) {
              this.offTop = true
            } else {
              this.offTop = false
            }
          },
          scrollToTop () {
            this.$refs.convFeed.scrollTop = 0
          }
        },
        mounted() {
            if (this.id !== null) {
                this.getConversation(this.id)
            }
        }
    }
</script>
