<template>
  <div class="panel panel-success inbox-panel-messages" :class="currentConversation ? 'hidden-sm-down' : ''">
    <div class="panel-heading">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        messages <span class="pull-right">unread &nbsp;<span :class="unreadCount ? 'badge badge-danger' : 'badge badge-white'">{{ unreadCount }}</span></span>
    </div>
    <div class="panel-body inbox-panel">
        <div v-if="loading" class="loader"></div>
        <div v-for="conversation in inboxGetter" v-else-if="inboxGetter.length">

                    <div class="media inbox-media" :class="conversation.pivot.unread ? 'inbox-unread': ''" @click.prevent="getConversation(conversation.id)">
                        <div class="media-left inbox-left">
                                <img :src="conversation.users[0].id == userId ?  conversation.users[1].avatar_path : conversation.users[0].avatar_path" :alt="conversation.users[0].id == userId ? conversation.users[1].name : conversation.users[0].name + ' image'" class="img-circle media-object-2">
                        </div>
                        <div class="media-body inbox-body">
                            <p><strong>{{ conversation.users[0].id == userId ? trunc(conversation.users[1].name, 22) : trunc(conversation.users[0].name, 22) }}</strong></p>
                            <p class="last-reply-inbox">{{ conversation.last_reply_human }}</p>
                        </div>
                        <div class="media-right inbox-right" v-html="conversation.latest_reply ? trunc(conversation.latest_reply, 75) : trunc(conversation.body, 75)">
                        </div>
                    </div>

        </div><!-- inboxGetter -->
        <div v-else>nothing in inbox</div>
    </div><!-- panel-body -->
  </div><!-- panel -->
</template>

<script>
    import trunc from '../helpers/trunc'
    import { mapActions, mapGetters } from 'vuex'

    export default {
        data () {
            return {
                userId: Laravel.user.id
            }
        },
        props: {
        },
        computed: {
            ...mapGetters({
                inboxGetter: 'inboxGetter',
                loading: 'loadingInbox',
                currentConversation: 'currentConversation',
                unreadCount: 'unreadCount'
            })
        },
        methods: {
          ...mapActions({
            getInbox: 'getInboxAction',
            getConversation: 'getConversation',
            inboxVisibleFlag: 'inboxVisibleFlag'
          }),
          trunc: trunc
        },
        mounted() {
            this.inboxVisibleFlag()
            console.log('Inbox Component mounted.')
        }
    }
</script>
