<template>
    <div>
        <div :class="formErrorClass">
            <label for="city" class="col-md-4 control-label">ZIP or City, State</label>

            <div class="col-md-4">
                <input id="city" type="text" class="form-control" name="city" placeholder="30303 or Atlanta, GA" v-model="inputPlace" @keyup="checkInput">

                    <span class="help-block" v-if="errorHas">
                        <strong>{{ errorMessage }}</strong>
                    </span>
            </div>

            <div class="col-md-4">
                <p><span :class="locationStatusClass">{{ locationStatus }}</span> &nbsp; {{ addressOuput }}</p>
                <!-- <p v-show="latitude">Latitude: {{ latitude }} &nbsp; Longitude: {{ longitude }} </p> -->
            </div>
        </div>

        <input type="text" class="hidden" name="location" :value="latitude">
        <input type="text" class="hidden" name="longitude" :value="longitude">
        <input type="text" class="hidden" name="city" :value="city">
        <input type="text" class="hidden" name="state" :value="state">
        <input type="text" class="hidden" name="country" :value="country">
    </div>
</template>

<script>
    export default {
        data () {
            return {
                latitude: '',
                longitude: '',
                city: '',
                state: '',
                country: '',
                locationStatus: 'NOT VALID',
                locationStatusClass: 'label label-danger',
                inputPlace: '',
                addressOuput: ''
            }
        },
        props: {
          formErrorClass: null,
          errorMessage: null,
          errorHas: null,
          oldCity: null
        },
        methods: {
          checkInput () {
            if (this.inputPlace.length > 3) {
              this.locationStatus = 'PROCESSING ...';
              this.locationStatusClass = 'label label-warning';
              this.latitude = ''; this.longitude = ''; this.addressOuput = '';
              this.placeLookup();
            } else {
              this.locationStatus = 'NOT VALID';
              this.locationStatusClass = 'label label-danger';
              this.latitude = ''; this.longitude = ''; this.addressOuput = '';
            }
          },
          placeLookup: _.debounce(function() {
            var app = this
            var servicedomain = 'https://maps.googleapis.com/maps/api/geocode/json?'
            var placeEncoded = encodeURI(this.inputPlace.trim())
            if (placeEncoded.length < 2) { return }
            var apiKey = 'AIzaSyA3CaKkz76b8vmFFw5hZaQanykLqVrf2Gs'
            console.log('place: ' + placeEncoded)
            var finalURI = servicedomain + 'address=' + placeEncoded + '&key=' + apiKey
            console.log('final URI = ' + finalURI)
            axios.defaults.headers.common = { }
            axios.get(finalURI).then(function (response) {
              if (response.data.status == 'OK') {
                var geometry = response.data.results[0].geometry
                app.longitude = geometry.location.lng
                app.latitude = geometry.location.lat
                console.log('lat: ' + app.latitude + ' long: ' + app.longitude)
                app.locationStatus = 'VALID'; app.locationStatusClass = 'label label-success';
                app.addressOuput = response.data.results[0].formatted_address
                var addressComponentsArr = response.data.results[0].address_components
                addressComponentsArr.forEach(function (item) {
                  switch (item.types[0]) {
                    case 'locality':
                      app.city = item.long_name
                      break;
                    case 'administrative_area_level_1':
                      app.state = item.short_name
                      break;
                    case 'country':
                      app.country = item.short_name
                      break;
                    default:
                      break;
                  }
                })
                console.log('city: ' + app.city + ' state: ' + app.state + ' country: ' + app.country)
              } else {
                app.locationStatus = 'NOT VALID';
                app.locationStatusClass = 'label label-danger';
                app.latitude = ''; app.longitude = ''; app.addressOuput = '';
              }
            }).catch(function (error) {
              app.locationStatus = 'NETWORK ERROR - TRY AGAIN'; app.locationStatusClass = 'label label-danger';
              console.log('error: ' + error)
            })
          }, 2000)
        },
        mounted() {
            console.log('Component mounted.');
            if (this.oldCity.length > 1) {
              this.inputPlace = this.oldCity
              this.placeLookup()
            }
        }
    }
</script>
