<template lang="html">
    <div class="media media-review">
          <div class="media-left">
              <img :src="avatar" :alt="name + 'avatar'" class="img-circle media-object-3 media-object-reviews">
          </div>
          <div class="media-body media-body-review">
              <p class="player-link-review"><a :href="playerLink">{{ name }}</a></p>
              <p v-html="displayReview" v-if="!editMode"></p>
              <textarea class="form-control" rows="4" v-if="editMode" v-model="editText"></textarea>
              <ul class="list-inline">
                  <li v-if="showMoreButton && !editMode"><a href="#" @click.prevent="showFullReview = true">show more</a></li>
                  <li v-if="showLessButton && !editMode"><a href="#" @click.prevent="showFullReview = false">show less</a></li>
                  <li v-if="loggedInUser == uid && !editMode"><a href="#" @click.prevent="editPushed()">edit</a></li>
                  <li v-if="loggedInUser == uid && editMode"><a href="#" @click.prevent="clearPushed()">clear</a></li>
                  <li v-if="loggedInUser == uid && editMode"><a href="#" @click.prevent="savePushed()">save</a></li>
                  <li v-if="loggedInUser == uid && !editMode"><a href="#" @click.prevent="deleteReview()">delete</a></li>
                  <li v-if="loggedInUser == uid && editMode"><a href="#" @click.prevent="editMode = false">cancel</a></li>
              </ul>
          </div>
    </div>
</template>

<script>
import trunc from '../helpers/trunc'

export default {
  data () {
    return {
      showMoreButton: false,
      showFullReview: false,
      showLessButton: false,
      loggedInUser: Laravel.user.id,
      editMode: false,
      editText: null
    }
  },
  props: {
    avatar: null, name: null, body: null, uid: null, playerLink: null, updateDeleteLink: null
  },
  computed: {
    displayReview: function () {
      if (this.showFullReview) {
        this.showLessButton = true
        this.showMoreButton = false
        return this.body
      } else {
        this.showMoreButton = false
        this.showLessButton = false
        var trunced = trunc(this.body, 180, true)
        if (trunced.substr(trunced.length - 3, trunced.length - 1) == '...') {
          this.showMoreButton = true
        }
        return trunced
      }
    }
  },
  methods: {
    deleteReview () {
      axios.delete(this.updateDeleteLink).then((response) => {
        alert('review successfully deleted')
        location.reload()
      });
    },
    editPushed () {
      console.log('what the crap edit pushed')
      this.editMode = true
      this.editText = this.body.replace(/<br \/>/g,"")
    },
    clearPushed () {
      this.editText = ''
    },
    savePushed () {
      axios.put(this.updateDeleteLink, { body: this.editText }).then((response) => {
        alert('review successfully updated')
        location.reload()
      }).catch((error) => {
        console.log('review update error'); console.log(error.response.data.body)
        alert(error.response.data.body)
      })
    }
  }
}
</script>

<style lang="css" scoped>
.media-review {
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 5px 10px;
  box-shadow: 2px 2px #999;
  background: white;
}
.player-link-review {
  white-space: nowrap;
  overflow: hidden;
}
.media-body-review textarea {
  transition: 1s;
}

@media (max-width: 350px) {
  .media-body-review p {
    width: 200px;
  }
}

@media (min-width: 351px) and (max-width: 450px) {
  .media-body-review p {
    width: 260px;
  }
}

@media (min-width: 451px) and (max-width: 515px) {
  .media-body-review p {
    width: 305px;
  }
}
</style>
