<template>
  <span v-if="unreadCount">
      <span class="badge badge-danger">
        {{ unreadCount }}
      </span>
  </span>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'

    export default {
        data () {
            return {
                userId: Laravel.user.id
            }
        },
        props: {
        },
        computed: {
            ...mapGetters({
                unreadCount: 'unreadCount',
            })
        },
        methods: {
          ...mapActions({
            getInbox: 'getInboxAction',
          })
        },
        mounted() {
            this.getInbox()
            console.log('unread badge Component mounted.')
        }
    }
</script>
