<template>
  <div>
      <span class="unread-span" v-if="unreadCount && !inboxVisibleFlag">
        <a href="/inbox"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<span class="badge badge-white">{{ unreadCount }}</span></a>
      </span>
      <!-- <span class="enable-audio" @click.prevent="loadAudio()">
          enable audio
      </span> -->
  </div>

</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        data () {
            return {
                userId: Laravel.user.id
            }
        },
        props: {
        },
        computed: {
            ...mapGetters({
                unreadCount: 'unreadCount',
                inboxVisibleFlag: 'inboxVisibleFlag'
            })
        },
        methods: {
          loadAudio () {
            this.$store.state.sound1 = new Audio('../sounds/tennisserve.mp3')
            this.$store.state.sound2 = new Audio('../sounds/powerfulserve.mp3')
            console.log('enable button 2')
          }
        },
        mounted() {
            // this.getInbox()
            // console.log('unread badge Component mounted.')
        }
    }
</script>
