<template>
<div class="div-votes">
    <span class="thumb-votes"><i class="fa fa-thumbs-up" :class="{'voted-votes': userVote == 'up'}" @click.prevent="vote('up')"></i> {{ up }}</span>
    <span class="score-votes">{{ computedScore }}</span>
    <span class="thumb-votes"><i class="fa fa-thumbs-down" :class="{'voted-votes': userVote == 'down'}" @click.prevent="vote('down')"></i> {{ down }}</span>
</div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'

    export default {
        data () {
            return {
                // userId: Laravel.user.id,
                // computedScore: 'no votes',
                up: null,
                down: null,
                userVote: null,
                canVote: false
            }
        },
        props: {
          urlString: null
        },
        computed: {
            computedScore: function () {
                if (this.up + this.down == 0) {
                  return 'no votes'
                } else {
                  let score = Math.round((this.up / (this.up + this.down)) * 100)
                  return score.toString() + '%'
                }
            }
        },
        methods: {
            getVotes () {
                axios.get(this.urlString).then((response) => {
                    this.up       = response.data.data.up
                    this.down     = response.data.data.down
                    this.userVote = response.data.data.user_vote
                    this.canVote  = response.data.data.can_vote
                })
            },
            vote (type) {
                if (!this.canVote) {
                  return alert('must be logged in to vote')
                }
                if (this.userVote == type) {
                  this[type]--
                  this.userVote = null;
                  this.deleteVote(type)
                  return
                }
                if (this.userVote) {
                  this[type == 'up' ? 'down' : 'up']--
                }
                this[type]++
                this.userVote = type
                this.createVote(type)
            },
            deleteVote (type) {
              axios.delete(this.urlString).catch(function (error) {
                console.log('error: delete vote')
              })
            },
            createVote (type) {
              axios.post(this.urlString, { type: type }).catch(function (error) {
                console.log('error: vote create')
                console.log(error.response)
              })
            }
        },
        mounted() {
            console.log('votes Component mounted.')
            this.getVotes()
        }
    }
</script>
<style scoped>
    .thumb-votes {
      display: inline-block;
      margin: 0 20px;
      font-size: 20px;
    }

    .score-votes {
      display: inline-block;
      margin: 5px;
      font-size: 40px;
      max-width: 105px;
      line-height: 1.0;
    }

    .div-votes {
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 25px 0;
      background: white;
      box-shadow: 2px 2px #aaa;
    }

    .voted-votes {
      color: blue;
    }
</style>
