<template>
<div>
    <section class="profile-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <img class="img-circle avatar-comp-img" :src="imageUrl" alt="Current avatar"> &nbsp; <span class="user-name">{{ profileName }}</span>
                    </div>
                </div>
            </div><!-- row -->
        </div><!-- container -->
        <a :href="'/tennis-partner/' + uid" class="btn btn-default btn-sm">view</a>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">info</div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                 <tbody>
                                     <tr>
                                         <td class="text-right">name:</td>
                                         <td><strong>{{ profileName }}</strong></td>
                                     </tr>
                                     <tr>
                                         <td class="text-right">skill level:</td>
                                         <td><strong>{{ profileSkill }}</strong></td>
                                     </tr>
                                     <tr>
                                         <td class="text-right">birth date:</td>
                                         <td><strong>{{ profileBirthDate }}</strong></td>
                                     </tr>
                                     <tr>
                                         <td class="text-right">gender:</td>
                                         <td><strong>{{ profileGender }}</strong></td>
                                     </tr>
                                     <tr>
                                         <td class="text-right">handed:</td>
                                         <td><strong>{{ profileRightLeft }}</strong></td>
                                     </tr>
                                 </tbody>
                            </table>
                            <button type="button" name="button" class="btn btn-default pull-right" data-toggle="modal" id="editButton" data-target="#profileModal">edit</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">locations</div>
                        <div class="panel-body">
                            <div v-for="location in locations">
                                <div class="row-tran" :id="'loc-row' + location.id">
                                    <h4><i class="fa fa-circle" :class="location.available ? 'text-success':'text-danger'"></i> &nbsp;
                                    {{ location.city }} </h4>
                                    <span>
                                        <select @change="selectChange(location.id, 'available')" class="form-control available-select" :id="'available' + location.id">
                                            <option value="true" :selected="location.available ? 'selected':''">available</option>
                                            <option value="false" :selected="location.available ? '':'selected'">not available</option>
                                        </select>
                                        <select @change="selectChange(location.id, 'play_with')" class="form-control" :id="'play_with' + location.id">
                                            <option value="1" :selected="location.play_with == 1 ? 'selected':''">with males only</option>
                                            <option value="2" :selected="location.play_with == 2 ? 'selected':''">with females only</option>
                                            <option value="3" :selected="location.play_with == 3 ? 'selected':''">with either m/f</option>
                                        </select>
                                        <select @change="selectChange(location.id, 'singles_doubles')" class="form-control" :id="'singles_doubles' + location.id">
                                            <option value="0" :selected="location.singles_doubles == 0 ? 'selected':''">singles</option>
                                            <option value="1" :selected="location.singles_doubles == 1 ? 'selected':''">doubles</option>
                                            <option value="2" :selected="location.singles_doubles == 2 ? 'selected':''">both</option>
                                        </select>
                                        <select @change="selectChange(location.id, 'need_partner')" class="form-control" :id="'need_partner' + location.id" v-if="location.singles_doubles">
                                            <option value="1" :selected="location.need_partner == 1 ? 'selected':''">need doubles partner</option>
                                            <option value="2" :selected="location.need_partner == 2 ? 'selected':''">have doubles partner</option>
                                        </select>
                                        <button type="button" @click.prevent="deleteLocation(location.id)" class="btn btn-danger" v-if="locations.length > 1">delete</button>
                                    </span>
                                </div>
                                <hr v-if="!(location.id == locations[locations.length - 1].id)" class="loc-hr">
                            </div>
                            <div v-if="locations.length < 5">
                                <hr>
                                <div class="form-group" :class="locationError ? 'has-error': ''">
                                    <label for="placeInput" class="control-label">add location</label>
                                    <input type="text" class="form-control" id="placeInput" name="placeInput"  placeholder="enter city or zip code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                                    <div class="help-block" v-if="locationError">
                                        Error processing location, please try again.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary add-location-profile" @click="addLocation">add location</button>
                                    <button type="button" class="btn btn-default" @click="cancelLocation">cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                <!-- <div class="well"> -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4 class="text-center"><i class="fa fa-circle" :class="this.availability == 'available' ? 'text-success':'text-danger'"></i> {{ availability }}</h4>
                            <p class="text-muted text-center">(adjust in locations panel)</p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">intro</div>
                        <div class="panel-body">
                            <div v-html="profileIntro"></div>
                            <button type="button" name="button2" class="btn btn-default pull-right" data-toggle="modal" id="editButton2" data-target="#profileModal2">edit</button>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">avatar</div>
                        <div class="panel-body">
                            <avatar-upload :endpoint="endpoint2" :send-as="sendAs" :current-avatar="currentAvatar" :user-email="userEmail" @senduppath="updateMainImage"></avatar-upload>
                        </div>
                    </div>
                <!-- </div> -->
                </div>
            </div> <!-- row -->
        </div>
    </section>

<!-- modals -->
        <div class="modal fade" id="profileModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">update profile</h4>
                  </div>
                  <div class="modal-body">
                      <div class="form-group" :class="{ 'has-error': errors.name }">
                          <label for="name" class="control-label">name</label>
                          <input id="name" type="text" class="form-control" v-model="editName">
                          <div class="help-block" v-if="errors.name">
                              <p v-for="error in errors.name">{{ error }}</p>
                          </div>
                      </div>

                      <div class="form-group" :class="{ 'has-error': errors.skill }">
                          <label for="editSkillLevel" class="control-label">skill level</label>

                          <select name="editSkillLevel" id="editSkillLevel" class="form-control" v-model="editSkill">
                              <option value="">-- please select --</option>
                              <option value="2.0">2.0 - Beginner</option>
                              <option value="2.5">2.5 - Advanced Beginner</option>
                              <option value="3.0">3.0 - Intermediate</option>
                              <option value="3.5">3.5 - Advanced Intermediate</option>
                              <option value="4.0">4.0 - Competitor</option>
                              <option value="4.5">4.5 - Advanced Competitor</option>
                              <option value="5.0">5.0 - Expert</option>
                              <option value="5.5">5.5 - Advanced Expert</option>
                              <option value="6.0">6.0 - Tournament Player</option>
                              <option value="7.0">7.0 - Professional Player</option>
                          </select>
                          <div class="help-block" v-if="errors.skill">
                              <p v-for="error in errors.skill">{{ error }}</p>
                          </div>
                      </div>
                      <div class="form-group" :class="{ 'has-error': errors.birthdate }">
                          <label class="control-label" for="edit_birthdate">birth date</label>
                          <input id="edit_birthdate" type="text" class="form-control" v-model="editBirthdate" placeholder="MM/DD/YYYY">

                          <div class="help-block" v-if="errors.birthdate">
                              <p v-for="error in errors.birthdate">{{ error }}</p>
                          </div>
                      </div>
                      <div class="form-group" :class="{ 'has-error': errors.gender }">
                          <label for="gender">gender</label>

                              <select name="gender" id="gender" class="form-control" v-model="editGender" required>
                                  <option value="">-- please select --</option>
                                  <option value="male">male</option>
                                  <option value="female">female</option>
                              </select>
                              <div class="help-block" v-if="errors.gender">
                                  <p v-for="error in errors.gender">{{ error }}</p>
                              </div>
                      </div>
                      <div class="form-group" :class="{ 'has-error': errors.right_left }">
                          <label for="right_left">right/left handed</label>

                              <select name="right_left" id="right_left" class="form-control" v-model="editRightLeft" required>
                                  <option value="">-- please select --</option>
                                  <option value=1>right-handed</option>
                                  <option value=2>left-handed</option>
                              </select>
                              <div class="help-block" v-if="errors.right_left">
                                  <p v-for="error in errors.right_left">{{ error }}</p>
                              </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <p class="text-muted">only enter fields which need to be changed</p>
                    <button type="button" class="btn btn-primary" v-show="editChange" @click="updateAJAX('cancelButton')">save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelButton" @click="cancelPushed">cancel</button>
                  </div>
                </div>
            </div>
        </div><!-- modal 1 -->

        <div class="modal fade" id="profileModal2" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">update intro</h4>
                  </div>
                  <div class="modal-body">
                      <div class="form-group" :class="{ 'has-error': errors.intro }">
                          <label for="intro" class="control-label">intro</label>
                          <textarea id="intro" type="text" rows="4" cols="30" placeholder="intro paragraph here ..." class="form-control" v-model="editIntro"></textarea>
                          <div class="help-block" v-if="errors.intro">
                              <p v-for="error in errors.intro">{{ error }}</p>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-if="editChange" @click="updateAJAX('cancelButton2')">save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelButton2" @click="cancelPushed">cancel</button>
                  </div>
                </div>
            </div>
        </div><!-- modal 2 -->
</div>
</template>

<script>
    export default {
        props: {
          endpoint2: null,
          userEmail: null,
          sendAs: null,
          currentAvatar: null,
          uid: null
        },
        data () {
            return {
                profileName: '',
                profileSkill: '',
                profileBirthDate: '',
                profileGender: '',
                profileRightLeft: '',
                profileIntro: '',
                editName: '',
                editBirthdate: '',
                editGender: '',
                editRightLeft: '',
                editSkill: '',
                editIntro: '',
                editChange: false,
                errors: { },
                locations: [],
                avatarPath: '',
                availability: 'available',
                locationError: false,
                // createLocationReady: false,
                newCity: '',
                newLat: '',
                newLong: '',
                userId: Laravel.user.id,
                geocoder: ''
            }
        },
        computed: {
          imageUrl: function () {
            return this.avatarPath ? this.avatarPath : 'https://www.gravatar.com/avatar/' + this.userEmail + '?s=100&d=mm'
          }
        },
        methods: {
            getProfile () {
                var app = this
                axios.get('/profile')
                    .then(function (response) {
                      app.profileName = response.data.user_name
                      app.profileSkill = response.data.skill_level
                      app.profileBirthDate = response.data.birth_date
                      app.profileGender = response.data.gender
                      app.profileRightLeft = response.data.right_left
                      app.profileIntro = response.data.intro
                })
                    .catch(function (error) {
                      app.profileName = 'error oops'
                })
            },
            getLocations () {
                var app = this
                axios.get('/locations')
                    .then(function (response) {
                      app.locations = response.data
                })
                    .catch(function (error) {
                      app.profileName = 'error from loctions'
                })
            },
            updateAJAX (cb) {
                var app = this
                this.errors = { }
                axios.put('/profile', { name: this.editName, skill: this.editSkill, birthdate: this.editBirthdate, gender: this.editGender, right_left: this.editRightLeft, intro: this.editIntro }).then(function (response) {
                  app.getProfile()
                  document.getElementById(cb).click()
                }).catch(function (error) {
                  if (error.response.status == 422) {
                    app.errors = error.response.data
                    app.editChange = ''
                  }
                })
            },
            updateEditStatus(e) {
              if (e == '') {
                this.editChange = false
              } else {
                this.editChange = true
              }
            },
            cancelPushed () {
              this.editName = ''; this.editSkill = ''; this.editBirthdate = ''; this.editGender = '';
              this.editRightLeft = ''; this.editIntro = '';
              this.errors = { }
            },
            updateMainImage(path) {
                this.avatarPath = path
            },
            clear2Pushed () {
              this.editIntro = ' '
              this.editChange = true
            },
            deleteLocation (locationId) {
              if (!confirm('Delete loction?')) { return; }
              var locrow = document.getElementById('loc-row' + locationId)
              app = this
              axios.delete('/locations/' + locationId).then(function (response) {
                  locrow.style.opacity = "0"
                  locrow.style.marginLeft = "-15%"
                  setTimeout(function() {
                      locrow.style.opacity = null
                      locrow.style.marginLeft = null
                      app.getLocations()
                  }, 700)
              }).catch(function (error){
                console.log('location delete error')
              })
            },
            selectChange(loc, whichSelect) {
                let sel = whichSelect + loc
                var selvalue = document.getElementById(sel).value
                if (whichSelect == 'available') { selvalue = (selvalue == 'true') }
                var payload = {}
                payload[whichSelect] = selvalue
                var app = this
                axios.put('/locations/' + loc, payload).then(function (response) {
                  app.getLocations()
                }).catch(function (error) {
                    console.log('location update error')
                    console.log(error)
                })
            },
            addLocation () {
                var cityInput = document.getElementById('placeInput').value
                if (cityInput == '') {
                  alert('please enter a city or zip code.')
                  return
                }
                var app = this
                this.geocoder.geocode({'address': cityInput}, function(results, status) {
                  if (status === 'OK') {
                     var newCity = results[0].formatted_address
                     var newLat = results[0].geometry.location.lat()
                     var newLong = results[0].geometry.location.lng()

                     app.locationError = ''
                     axios.post('/locations', { city: newCity, lat: newLat, long: newLong }).then(function (response) {
                       app.getLocations()
                       app.cancelLocation()
                     }).catch(function (error) {
                         app.locationError = true
                     })
                  } else {
                    alert('please enter a valid city or zip code.')
                  }
                })
            },
            cancelLocation () {
                this.newCity = ''
                this.newLat = ''
                this.newLong = ''
                $("input").val('');
            }
        },
        watch: {
          editName: function (e) { this.updateEditStatus(e) },
          editSkill: function (e) { this.updateEditStatus(e) },
          editBirthdate: function (e) { this.updateEditStatus(e) },
          editGender: function (e) { this.updateEditStatus(e) },
          editRightLeft: function (e) { this.updateEditStatus(e) },
          editIntro: function (e) { this.updateEditStatus(e) },
          locations: function () {
            var x = 'unavailable'
            this.locations.forEach(function(entry) {
                if (entry.available) { x = 'available'; return;}
            })
            this.availability = x
          }
        },
        mounted () {
          console.log('hello1')
          this.getProfile()
          this.getLocations()
          this.avatarPath = this.currentAvatar
          this.geocoder = new google.maps.Geocoder()
          // app = this
          // google.maps.event.addDomListener(window, 'load', function () {
          //     var places = new google.maps.places.Autocomplete(document.getElementById('placeInput'));
          //     google.maps.event.addListener(places, 'place_changed', function () {
          //         var place = places.getPlace();
          //         app.locationError = false
          //         if (place.formatted_address && place.geometry.location.lat()) {
          //           app.newCity = place.formatted_address
          //           app.newLat = place.geometry.location.lat()
          //           app.newLong = place.geometry.location.lng()
          //           app.createLocationReady = true
          //         } else {
          //           app.createLocationReady = false
          //           $("input").val('');
          //           console.log('its getting here 1')
          //         }
          //     });
          // });
        }
    }
</script>
