.media-object-account {
  width: 50px;
  border: 1px solid #555;
  margin-left: 5px;
  // box-shadow: 1px 1px #666;
}

.panel-body-account {
  max-height: 400px;
  overflow: auto;
}

.blocked-name-account {
  max-height: 120px;
  overflow: auto;
}

.card-span-account {
  background: #ddd;
  border-radius: 5px;
  padding: 5px 10px;
}

.open-button-div {
  position: relative;
  button {
    position: absolute;
    right: 5px;
    bottom: 3px;
  }
}
