.admin-detail-area {
  position: absolute;
  top: 50px;
  left: 200px;
  right: 0;
  padding: 20px 20px;
  h3 {
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px #777;
  }
}

.admin-nav {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 200px;
  background-color: $brand-warning;
  overflow-y: scroll;
}

.admin-aside {
  padding: 20px 10px;
  ul {
    list-style: none;
  }
  li {
    margin: 5px 0;
    letter-spacing: 1px;
  }
  a {
    text-decoration: none;
    color: $text-color;
    &:hover {
      color: darken($text-color, 20%);
    }
  }
  h3 {
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px #777;
  }
}

.bgf-card {
  padding: 15px 25px;
  border: 1px solid #ddd;
  background: white;
  box-shadow: 2px 2px 2px #777;
  border-radius: 5px;
  margin: 15px 5px;
  h3 {
    letter-spacing: 2px;
    text-shadow: none;
  }
}
