body {
  padding-top: 70px;
}

i.fa {
  margin-right: 5px;
}
.icon-nav {
  width: 20px;
  text-align: center;
}

hr {
  border-bottom: 1px solid #bbb;
}

footer {
  border-top: 1px solid #ccc;
  background-color: #FF8;
  padding: 30px;
  margin-top: 70px;
}

textarea, input {
  font-size: 16px !important;
  box-shadow: inset 1px 1px 2px #444;
}

.panel-success {
    .panel-heading {
      background-color: $brand-success;
      color: #fff;
    }
}

.panel-default {
  .panel-heading {
    color: white;
  }
  border: 1px solid $brand-orange;
  border-radius: 6px;
}

.panel {
  box-shadow: 2px 2px #777;
}

.well {
  background-color: #ff8;
  box-shadow: inset 1px 1px 2px #999;
}
.badge-success {
  background-color: #4CAF50;
}

.badge-white {
  background-color: #eee !important;
  color: #444 !important;
  font-weight: bold !important;
}

.badge-danger {
  background-color: #f44242 !important;
  // color: #444 !important;
  margin-left: 5px;
  color: white;
}

.name-nav {
  max-width: 170px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn-warning {
  color: #666;
  &:hover {
    color: #444;
  }
}

.btn {
  box-shadow: 2px 2px #777;
}
.list-group {
  box-shadow: 2px 2px #777;
  border-radius: 5px;
}

.alert {
  border: 2px solid #666;
  z-index: 100;
}

.resend-notification {
  text-align: center;
  max-width: 500px;
  position: absolute;
  top: 60px;
  z-index: 200;
  left: 50%;
  transform: translateX(-50%);
}

.banner-spacer {
  height: 50px;
  color: rgba(0, 0, 0, 0.0);
}

.subscribe-banner {
  text-align: center;
  background: rgb(182, 0, 0);
  border-bottom: rgb(175, 0, 0);
  height: 50px;
  position: fixed;
  top: 50px;
  width: 100%;
  padding: 12px 5px 2px 5px;
  z-index: 5;
  span {
    text-shadow: 1px 1px 2px #666;
    color: white;
    font-size: 18px;
    line-height: 1.3;
    font-weight: bold;
  }
  a {
    color: #444;
    text-decoration: none;
    margin-top: -2px;
  }
}

.promo-banner {
  text-align: center;
  background: rgb(0, 155, 0);
  color: white;
  height: 50px;
  position: fixed;
  top: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 5px 2px 5px;
  z-index: 5;
  line-height: 1.3;
  text-shadow: 1px 1px 2px #666;
  border-bottom: 1px solid rgb(0,140,0);
}

.subscriber-icon {
  padding: 2px 6px;
  border: 1px solid #555;
  border-radius: 50%;
  background: #ffa500;
  text-shadow: 1px 1px 2px #444;
  color: white;
}
.bgf-t-s {
  text-shadow: 2px 2px 2px #555;
}

.btn-primary {
  background-color: $brand-orange;
  border-color: darken($brand-orange, 10%);
  &:hover {
    background-color: darken($brand-orange, 10%);
    border-color: darken($brand-orange, 20%);
  }
}

.panel-body {
  background-color: $brand-warning;
}

.brand-img {
  max-height: 25px;
  margin-top: -3px;
}

.btn-trans {
  color: white;
  text-shadow: 1px 1px 2px #555;
  box-shadow: none;
  background: transparent;
  border: 2px solid white;
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
  &:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.social-ul {
  font-size: 20px;
}

.mailing-address {
  white-space: pre;
}
