@keyframes slideInFromLeft {
  0% {
    transform: translateX(-300px) rotate(-180deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideDownRotate {
  0% {
    transform: translateY(-85px) rotate(180deg);
  }
  50% {
    transform: translateY(-85px) rotate(180deg);
  }
  75% {
    transform: translateY(0) rotate(180deg);
  }
  80% {
    transform: translateY(0) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes slideDownandBack {
  0% {
    transform: translateY(0) translateX(-50%);
    opacity: 0.5;
  }
  20% {
    transform: translateY(80px) translateX(-50%);
    opacity: 1;
  }
  80% {
    transform: translateY(80px) translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 0.5;
  }
}

.avatar-comp-img {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.profile-header span {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.unread-span {
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.alert-anim {
  position: absolute;
  max-width: 400px;
  width: 80%;
  z-index: 5;
  top: -5px;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: 5s ease-out 0.5s 1 slideDownandBack;
}

.corner-star {
  animation: 7s ease 0s 1 slideDownRotate;
}
