.player-info {
  background-color: #ff8;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid darken(#ff8, 10%);
  margin: 0 15px 2px 20px;
  box-shadow: 1px 1px #aaa;
}

.favorites-banner {
  // background: url(~/../img/tennis-court.png);
  padding: 10px 5px;
  background: $brand-orange;
  border-radius: 5px;
  border: #555;
  box-shadow: 2px 2px #777;
  margin-bottom: 30px;
  h1 {
    color: #eee;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.1;
    text-shadow: 2px 2px 2px #555;
  }
  span {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.player-info-fav {
  background-color: $brand-warning;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid darken(#ff8, 10%);
  margin: 0 5px 5px 10px;
  box-shadow: 1px 1px #666;
}

a.player-list {
  text-decoration: none;
  color: inherit;
}

.profile-link {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.no-results {
   margin-bottom: 200px;
}

.fav-badge {
  margin-top: 7px;
  text-shadow: 1px 1px #777;
}

.media-object-search {
  // margin-top: 20px;
  width: 90px;
  border: 1px solid #555;
}

.media-left-search {
  padding: 0 10px;
  border-right: 1px solid #ccc;
  vertical-align: middle;
}

.media-search {
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 2px 2px #aaa;
  padding: 5px 0;
  &:hover {
    background: rgba(0,0,0,0.3);
  }
}

.media-fav {
  margin-bottom: 25px;
  border-radius: 8px;
  border: 1px solid darken(#eee, 10%);
  background-color: rgba(245, 245, 245, 0.8);
  box-shadow: 3px 3px #666;
  &:hover {
    background: rgba(0,0,0,0.3);
  }
}

.media-object-fav {
  width: 90px;
  border: 1px solid #555;
  margin-left: 5px;
  box-shadow: 1px 1px #666;
}

.city-fav {
  max-width: 175px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.name-fav {
  max-height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading-search {
  padding: 10px 5px;
  background: $brand-orange;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px #aaa;
  margin-bottom: 20px;
  color: #f1f1f1;
  table {
    width: 90%;
    margin: 8px auto;
    background: #777;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    td {
      width: 50%;
      padding: 0 4px;
    }
  }
}
.table-title {
  text-align: center;
  letter-spacing: 2px;
  color: white;
  background: #777;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.s-icon-index {
  position: relative;
  top: 23px;
}

.results-buttons {
  margin-bottom: 15px;
  a {
    margin: 0 5px;
  }
}

.subscribed-div-results {
  background: rgba(50, 50, 50, 0.6);
  padding: 25px 20px;
  border-radius: 5px;
  margin: 35px 0 20px 0;
  color: white;
  h3, h4 {
    color: white;
    text-shadow: 1px 1px 2px #555;
    margin-bottom: 20px;
  }
  p {
    color: white;
    text-shadow: 1px 1px 2px #555;
  }
  .btn, .btn-sm {
    text-shadow: none;
  }
  a {
    margin: 0 5px;
  }
  a.btn {
    width: 100px;
  }
}
