.map-outer-div {
  position: relative;
  margin-top: -70px;
}

.map-div {
  height: 100vh;
}

.button-span-map {
  position: absolute;
  bottom: 30px;
  right: 10px;
  z-index: 3000;
  a {
    margin: 0 3px;
  }
}
