@media (max-width: 991px) {
  .hidden-sm-down {
    display: none;
  }
  .conversation-mobile {
    width: 100%;
  }
  .section-1-welcome {
    background: url(~/../img/wells_stadium_blur.jpg);
    background-position: center;
    background-size: cover;
    margin: -20px 0 0 0;
    padding: 25px 0 20px 0;
    // background-attachment: fixed;
    min-height: 80vw;
    -webkit-background-size: cover;
  }
  .section-3-welcome {
    background: url(~/../img/fuzzy-yellow-tennis-ball.jpg);
    background-position: center;
    background-size: cover;
    min-height: 80vw;
    padding: 25px 0 20px 0;
    // background-attachment: fixed;
    margin-bottom: -70px;
    -webkit-background-size: cover;
  }
  .other-img-messages {
    margin-top: -10px;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .media-object-3 {
    margin: 0;
  }
  .media-object-search {
    width: 65px
  }
  .media-left-search {
    padding: 0 3px;
  }
  .subscribers-only-search {
    bottom: 60px;
    left: 5px;
    top: 325px;
    span {
      bottom: 50%;
      left: 50%;
      transform: translateX(-50%);
      color: #ddd;
      font-size: 20px;
    }
  }
}

@media (min-width: 992px) {
  .hidden-md-up {
    display: none;
  }
}

@media (min-width: 768px) {
  .unread-span {
    display: none;
  }
}

@media (max-width: 370px) {
  .inbox-right {
    font-size: 10px;
  }
  .promo-banner {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .subscribers-only-search {
    left: 235px;
  }
}

@media (max-width: 460px) {
  .subscribe-banner {
    padding-top: 4px;
    span {
      font-size: 15px;
    }
  }
}

@media (max-width: 360px) {
  .video-welcome iframe {
    width: 290px;
    height: 163px;
  }
}

@media (max-width: 575px) and (min-width: 361px) {
  .video-welcome iframe {
      width: 345px;
      height: 194px;
  }
}
