.nav-image {
  max-height: 25px;
  border: 1px solid #bbb;
}

.media-object-2 {
  width: 40px;
  border: 1px solid #bbb;
  box-shadow: 2px 2px #888;
}

.media-object-3 {
  margin: 15px 0;
  width: 60px;
  border: 1px solid #bbb;
}

.media-conversation {
  margin-bottom: 10px;
  background-color: inherit;
}
.avatar-comp-img {
  // margin-bottom: 25px;
  border: 1px solid #bbb;
  box-shadow: 2px 2px #666;
}

div.inbox-panel {
  max-height: 430px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

div.conversation-feed {
  max-height: 330px;
  overflow: auto;
  border: 20px solid #2ab27b;
  box-shadow: inset 2px 2px 2px #777, 2px 2px #999;
  border-radius: 4px;
  padding: 5px;
  margin: 0 2px;
  -webkit-overflow-scrolling: touch;
}

.row-conversation-messages {
  position: relative;
  .panel {
    border: none;
    background: transparent;
  }
  .panel-body {
    box-shadow: 2px 2px #999;
    margin: 2px;
    border-radius: 6px;
  }
}

.inbox-media {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f1f1f1;
  box-shadow: 2px 2px #aaa;
  margin-bottom: 10px;
  height: 70px;
  &:hover {
    background: rgba(0,0,0,0.2);
  	color: #3a7999;
    border-radius: 5px;
  	// box-shadow: inset 0 0 0 3px #3a7999;
  }
}

.inbox-unread {
  background: rgba(210, 45, 45, 0.8);
  color: white;
  border-radius: 5px;
}

.inbox-left {
  width: 60px;
  // display: inline-block;
  vertical-align: middle;
  border-right: none;
  padding: 0 10px;
  height: inherit;
}

.inbox-body {
  width: 110px;
  height: inherit;
  // display: inline-block;
  vertical-align: middle;
  p {
    margin: 0 0;
    line-height: 1.2;
  }
}

.inbox-right {
  // min-width: 150px;
  vertical-align: middle;
  line-height: 1.2;
  height: inherit;
  // display: inline-block;
  // height: inherit;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // max-height: 70px;
}

.reply-created {
  margin-bottom: 0px;
}

.last-reply-inbox {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 3px;
}

.unread-span {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  // display: block;
  background-color: red;
  color: white;
  padding: 5px 15px 3px 15px;
  font-size: 2rem;
  font-weight: bold;
  z-index: 2000;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #555;
  a {
    text-decoration: none;
    color: white;
  }
}

.messages-section, .section-fav {
  background: url(~/../img/ashe-stadium.jpg);
  background-position: center;
  background-size: cover;
  margin: -20px 0 -70px 0;
  padding: 25px 0 20px 0;
  background-attachment: fixed;
  min-height: 80vh;
  // opacity: 0.3;
}

.panel-body-yellow {
  background-color: #ff8;
}

.panel-body-white {
  background-color: #f5f5f5;
}

.arrow-messages {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 30px;
  background: white;
  padding: 5px 5px 5px 10px;;
  border-radius: 50%;
  border: 1px solid #bbb;
  z-index: 100;
  box-shadow: 2px 2px #999;
}
.inbox-panel-messages {
  background: transparent;
  border: 1px solid $brand-success;
  box-shadow: 2px 2px #aaa;
}
.s-icon-conv {
  position: relative;
  margin-right: -30px;
  bottom: 15px;
  right: 12px;
}
