.profile-header {
  position: relative;
  color: #eee;
  padding: 30px 0;
  margin-top: -25px;
  margin-bottom: 15px;
  border-bottom: 1px solid #888;
  background: url(~/../img/edit-profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .view-profile {
    padding-top: 20px;
    line-height: 3;
  }

  .last-online{
    margin-bottom: 0;
    font-size: 18px;
    color: #ccc;
    text-shadow: 1px 1px 1px #444;
  }
  span.user-name {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.1;
    text-shadow: 2px 2px 2px #555;
    display: inline-block;
    max-height: 102px;
    overflow: hidden;
  }
  span.badge {
    font-size: 20px;
    margin-bottom: 10px;
  }
  a {
    position: absolute;
    right: 8px;
    top: 15px;
  }
}

.profile-button-well {
  line-height: 3.5;
  letter-spacing: 8px;
  a {
    letter-spacing: normal;
    width: 108px;
  }
  button {
    letter-spacing: normal;
    width: 108px;
  }
}

.profile-2 {
  background: url(~/../img/view-profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  a {
    position: absolute;
    right: 8px;
    top: 15px;
  }
}

.corner-star {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 3rem;
  color: #eee;
  text-shadow: 2px 2px 2px #555;
}

.row-tran {
  transition: margin-left 1s, opacity 1s;
  select {
    width: 145px;
    display: inline-block;
    margin: 5px 4px 5px 4px;
  }
  h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  button {
    display: block;
    // width: 100%;
    margin-top: 15px;
  }
}

.badge {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loc-hr {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 1px solid #999;
}

td {
  border: none !important;
}
.table-bordered {
  border: none !important;
}

.modal-header {
  background-color: #4CAF50;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.modal-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.modal-body, .modal-footer {
  background-color: #dfd;
  p {
    text-align: center;
  }
}

.media-object-reviews {
  line-height: 1.2;
  margin: 5px;
}

.list-group-profile-show {
  background: #e5e5e5;
  border-radius: 6px;
  padding: 3px 5px;
}

.img-div-profile {
  margin-bottom: 12px;
}

.add-location-profile {
  margin-right: 5px;
}
.review-subscriber-search {
  padding: 20px 15px;
  background: $brand-orange;
  color: white;
  border: 1px solid #777700;
  border-radius: 6px;
  font-size: 18px;
  box-shadow: 2px 2px 2px #666;
  p {
    text-shadow: 2px 2px 2px #666;
  }
}
.s-icon-show {
  position: relative;
  left: 3px;
  bottom: 30px;
  z-index: 10;
  margin-right: -25px;
}
