
// Body
$body-bg: #f2efd1; // #f5f8fa

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #ff8;
$brand-danger: #bf5329;
$brand-light-color-1: #dfd;
$brand-orange: #dd8219;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: darken($brand-orange, 10%);

// Navbar
$navbar-default-bg: $brand-warning;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: #999;
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$input-color: $text-color;

// Panels
$panel-default-heading-bg: $brand-orange;
