.section-1-welcome {
  background: url(~/../img/wells_stadium_blur.jpg);
  background-position: center;
  background-size: cover;
  margin: -20px 0 0 0;
  padding: 25px 0 20px 0;
  background-attachment: fixed;
  min-height: 90vh;
  position: relative;
  .container {
    position: relative;
  }
  .loader {
    display: none;
  }
}

.photo-credit-welcome {
  color: #ddd;
  text-shadow: 1px 1px #999;
  position: absolute;
  bottom: -20px;
  right: 15px;
}

.section-3-welcome {
  background: url(~/../img/fuzzy-yellow-tennis-ball.jpg);
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  padding: 25px 0 20px 0;
  background-attachment: fixed;
  margin-bottom: -70px;
}

.section-2-welcome {
  // text-align: center;
  padding: 30px 0;
  background: $brand-orange;
  border: 1px solid darken($brand-orange, 10%);
  color: white;
  text-shadow: 1px 1px 2px #555;
}

.heading-welcome {
  margin-top: 40px;
  margin-bottom: 30px;
  color: white;
  text-shadow: 2px 2px #555;
  font-variant-ligatures: none;
  letter-spacing: 2px;
}

.panel-welcome {
  background: transparent;
  margin-bottom: 50px;
  border: none;
  box-shadow: none;
  label {
    color: white;
    text-shadow: 1px 1px #555;
  }
  .panel-body {
    background: transparent;
    position: relative;   // added .......
  }
}

.search-button-welcome {
  margin-top: 10px;
}

.heading-container-welcome {
  position: relative;
  span {
    position: absolute;
    top: -35px;
    left: 50%;
    font-size: 24px;
    color: orangered;
    transform: rotate(-12deg);
    text-shadow: 1px 1px #666;
  }
  i {
    position: absolute;
    color: orangered;
    top: -4px;
    left: 52%;
    transform: rotate(14deg);
  }
  h1 {
    font-variant-ligatures: none;
    letter-spacing: 1px;
    font-size: 16px;
    text-shadow: 2px 2px 2px #555;
    color: white;
    padding: 10px 15px;
    line-height: 1.2;
  }
}

#more-options-div {
  display: none;
}

.subscribers-only-search {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  color: white;
  right: 5px;
  bottom: 65px;
  left: 200px;
  top: 90px;
  border-radius: 5px;
  span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #bbb;
    text-align: center;
    text-shadow: 1px 1px 2px #666;
  }
}

.subscribe-div-welcome, .subscribed-div-welcome {
  background: rgba(50, 50, 50, 0.6);
  padding: 25px 20px;
  border-radius: 5px;
  margin: 35px 0 20px 0;
  h4 {
    color: white;
    text-shadow: 1px 1px 2px #555;
    margin-bottom: 20px;
  }
  p {
    color: white;
    text-shadow: 1px 1px 2px #555;
  }
  .btn, .btn-sm {
    text-shadow: none;
  }
}

.subscribed-div-welcome {
  a {
    margin: 0 10px;
  }
  a.btn {
    width: 85px;
  }
  ul {
    box-shadow: none;
  }
  li {
    color: white;
    background: transparent;
    border: none;
  }
}

.subscribe-div-welcome {
  ul {
    box-shadow: none;
    border: 2px solid white;
  }
  li {
    color: white;
    text-shadow: 1px 1px 2px #555;
    border: none;
    text-align: center;
    background: transparent;
  }
}

.intro-text-welcome {
  h3 {
    margin-top: 0;
    letter-spacing: 2px;
  }
  a {
    color: #fff657;
    &:hover {
      color: darken(#fff657, 10%);
    }
  }
  p {
    font-size: 16px;
    line-height: 1.4;
  }
}

.tennis-partners-welcome {
  width: 220px;
  border-radius: 47%;
  border: 2px solid #eee;
  margin-bottom: 5px;
}

#subscribe-div-id {
  margin-bottom: 100px;
}

.search-cities-welcome {
  a {
    display: block;
    color: white;
    margin-bottom: 7px;
    text-shadow: 1px 1px 2px #555;
    white-space: nowrap;
    overflow: hidden;
  }
  .panel {
    border: none;
    margin: 60px 10px 70px 10px;
    background: transparent;
    .panel-heading {
      background: rgba(30, 30, 30, 0.7);
      border: none;
    }
    .panel-body {
      background: rgba(30,30,30,0.3);
      max-height: 260px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}

.video-welcome {
  margin-top: 50px;
  text-align: center;
  iframe {
    border: none;
  }
}

div.color-screen {
  position: absolute;
  top: 0;
  left: 0;
  background: #a97d5c;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.7;
}

.navbar-default .navbar-nav > li > a {
    color: $text-color;
}
